@page
@model WA_NOM035_001.Pages.ResultsModel
@{
    ViewData["Title"] = "Resultados";
}

<div class="text-center">
    <h1 class="display-4">Tabla de resultados</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

